@font-face {
    font-family: "Norse";
    src: url("fonts/norse-webfont.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/norsebold-webfont.woff2");
    font-weight: bold;
}

body {
    box-sizing: border-box;
}

.container {
    display: flex;
    position: relative;
    height: 100vh;
}

.hero-image {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: end;
    margin: 0;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.instructions,
.input-form,
.account {
    flex:1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: rgb(0, 0, 0, 0.4)
}

.photo-creds {
    color: white;
    position: absolute;
    bottom: 20px;
}

.photo-creds a {
    color: white;
}

.overlay div {
    display: flex;
    flex:1;
    align-items: center;
}

.overlay .logo-container {
    justify-content: right;
}

.overlay .text-container {
    justify-content: left;
}

.logo-container  img {
    height: auto;
    width: 40%;
    max-width: 40%;
}

.text-container {
    font-family: "Norse", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
}