.container {
    display: flex;
    position: relative;
    height: 100vh;
}

.hero-image {
    flex: 1;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.instructions,
.input-form,
.account {
    flex:1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0, 0.5)
}