body {
    box-sizing: border-box;
}
.container {
    display: flex;
    position: relative;
    height: 100vh;
}

.hero-image {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: end;
    margin: 0;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.instructions,
.input-form,
.account {
    flex:1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0, 0.5)
}

.photo-creds {
    color: white;
    position: absolute;
    bottom: 20px;
}

.photo-creds a {
    color: white;
}