@font-face {
    font-family: "Norse";
    src: url("fonts/norse-webfont.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/norsebold-webfont.woff2");
    font-weight: bold;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    position: relative;
    height: 100vh;
}

.hero-image {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: end;
    margin: 0;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.instructions,
.input-form,
.account {
    flex:1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: rgb(0, 0, 0, 0.4)
}

.photo-creds {
    color: white;
    position: absolute;
    bottom: 20px;
}

.photo-creds a {
    color: white;
}

.overlay div {
    display: flex;
    flex:1;
    align-items: center;
}

.overlay .logo-container {
    justify-content: right;
}

.overlay .text-container {
    justify-content: left;
    font-family: "Norse", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.logo-container  img {
    height: auto;
    width: 40%;
    max-width: 40%;
}


.form-intro,
.instructions,
.account {
    font-weight: bold;
}

.instructions,
.account {
    background-color: #F5F5F5;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.instructions p {
    margin-bottom: 40px;
}

.input-form {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}

.form-intro {
    margin-top: 20px;
}

form {
    display: flex;
    margin: 20px 40px 20px 40px
}

.left-col,
.right-col {
    flex:1;
    font-size: 14px;
}

input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 4px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

input[type="password"]:user-invalid {
    border-color: red;
}

.account button {
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #5B7C99;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    margin-top: 40px;
}

.account p,
.account button,
form,
.form-intro,
.instructions p {
    margin-left: 40px;
}

.account p a {
    color: #5B7C99;
    text-decoration: none;
    margin-top: 40px;
}
